
#Cal
{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  background-color: rgb(10, 13, 64);
  height: 60%;
  padding-top: 37px;
  padding-bottom:37px;
}


.Calculator_outer:hover{
  background-color: rgb(148, 127, 115);
}
.Calculator_outer
{
  border: 2px solid rgb(164, 162, 162);
  width: 300px;
  background-color: antiquewhite;
}

.text
{
  font-size: 20px;
  width: 250px;
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  
}

.btn-class:hover
{
  background-color:rgb(216, 173, 116);
}
.btn-class
{
  cursor: pointer;
  width:78px;
  height: 60px;
  margin-top: 10px;
  font-size: 20px;
  margin-left:15px;
  margin-bottom: 10px;
}

h1{
  text-align: center;
}